<nav class="nav">
    <!-- Inspired by apple.com's menu design -->
    <input type="checkbox" id="nav__state">
    <ul class="nav__list nav__list--mobile">
        <li class="nav__item"><label for="nav__state" class="nav__toggle">
            ≡
        </label></li>
        <li class="nav__item">
            <h1 class="nav__heading">Lorem ipsum</h1>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="https://2039.github.io/webpage">
                <img class="nav__logo" src="https://raw.githubusercontent.com/2039/2039.github.io/master/webpage/img/biggus.jpeg">
            </a>
        </li>
    </ul>
    <div class="nav__wrapper">
        <h1 class="nav__heading">Lorem ipsum</h1>
        <ul class="nav__list nav__list--links">
            <li class="nav__item nav__hide">
                <a class="nav__link" href="https://2039.github.io/webpage">
                    <a href="https://2039.github.io/webpage/">
                        <img class="nav__logo" src="https://raw.githubusercontent.com/2039/2039.github.io/master/webpage/img/biggus.jpeg" alt="Page logo: Image of the Monty Python character Biggus Dickus.">
                    </a>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="https://2039.github.io/webpage/">
                    <div class="nav__button" id="link-home">Home</div>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="https://2039.github.io/webpage/info">
                    <div class="nav__button" id="link-info">Info</div>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="https://2039.github.io/webpage/quiz">
                    <div class="nav__button" id="link-quiz">Quiz</div>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="https://2039.github.io/webpage/library">
                    <div class="nav__button" id="link-library">Library</div>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="https://2039.github.io/webpage/translator">
                    <div class="nav__button" id="link-translator">Translator</div>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="https://2039.github.io/webpage/about">
                    <div class="nav__button" id="link-about">About</div>
                </a>
            </li>
        </ul>
    </div>
</nav>
