<nav class="nav">
    <!-- Inspired by apple.com's menu design -->
    <input type="checkbox" id="nav__state">
    <ul class="nav__list nav__list--mobile">
        <li class="nav__item"><label for="nav__state" class="nav__button">
            ≡
        </label></li>
        <li class="nav__item"><a class="nav__link" href="home">
            LOGO
        </a></li>
    </ul>

    <ul class="nav__list nav__list--links">
        <li class="nav__item nav__hide"><a class="nav__link" href="home">
            LOGO
        </a></li>
        <li class="nav__item"><a class="nav__link" href="home">
            Home
        </a></li>
        <li class="nav__item"><a class="nav__link" href="home">
            Lorem Ipsum
        </a></li>
        <li class="nav__item"><a class="nav__link" href="home">
            Library
        </a></li>
        <li class="nav__item"><a class="nav__link" href="home">
            Translator
        </a></li>
        <li class="nav__item"><a class="nav__link" href="home">
            About
        </a></li>
    </ul>
</nav>

